<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HeroesChargeAutokey.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HeroesChargeAutokey.Properties.Settings>
            <setting name="shb_skip1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="shb_skip2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="shb_skip3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="shb_skip4" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="shb_skip5" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="shb_skip6" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="shb_skip7" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="shb_skip8" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="locationX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="locationY" serializeAs="String">
                <value>0</value>
            </setting>
        </HeroesChargeAutokey.Properties.Settings>
    </userSettings>
</configuration>